<div style="text-align:center">
  <h1>
    Ahmad Musyadad Aminullah
  </h1>
  <img width="300" alt="Ahmad" src="D:/Kuliah/BelajarAngular/InstallAngular/Pemrograman-Web-Lanjut/Quiz 1/src/DSC_0030-12.jpg">
</div>
<!-- <h2>Menggunakan String Interpolar (Data Binding)</h2> -->
<app-server></app-server>
<h2>Menggunakan Event Binding</h2>
<p>
  Alamat: 
  <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
</p>
  
<button type="button" class="btn btn-large btn-block btn-default">button</button>
<router-outlet></router-outlet>